<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="general.css">
</head>
<body>
<form th:action="@{/addalbum}" th:object="${albums}" method="post">

<h1>Title <input type="text" field="*{title}"  name="title" /></h1>
    <p> Artist<input type="text" field="*{artist}" name="artist" /></p>
    <p>Song Count <input type="text"  field="*{songCount}" name="songCount" /></p>
    <p> Length(in seconds)<input type="text" field="*{length}" name="length" /></p>
    <p>img url<input type="text" field="*{imageUrl}" name="imageUrl" /></p>

    <input type="submit" value="submit">
</form>

<div class ="content" th:each="albums : ${albumRepositiry}">
    <p>Album title: <span th:text="${albums.title}"></span></p>
    <p>Album artist: <span th:text="${albums.artist}"></span></p>
    <p>Album songCount: <span th:text="${albums.songCount}"></span></p>
    <p>Album length: <span th:text="${albums.length}"></span></p>
    <span> <img th:src=${albums.imageUrl}></img></span>
</div>
</body>
</html>